/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 500px;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #1a1d20;
  background-image: url("/img/arterra-banner.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top right;
  text-shadow: 2px 2px #1a1d20;
  color: #ffffff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
}
